body {
  background-color: rgb(197, 211, 255);
}

#container {
  display: flex;
  justify-content: center;
  border: 0;
  flex-direction:column;
  align-items: center;
}

#main {
  max-width: 70vw;
  padding: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#summary{
  align-self: center;
}

.form-row{
  display: flex;
  align-items: baseline;
} 

.left-column{
  flex-basis: 200px;
  flex-grow: 1;
  text-align: end;
  margin: 20px 20px 0 20px;
}

.right-column{
  flex-basis: 200px;
  flex-grow: 1;
  border: 20px 20px 0 20px;
  min-height: 30px;
}